.text-img-conatiner {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin-top: 3rem;
  background-color: #ff4000;
}
.text-container h1 {

  /* font-family: 'Kanit', sans-serif; */
  font-family: 'Mochiy Pop One', sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: #f7f7f7;
}
.text-container p {
  /* font-family: "Send Flowers", cursive; */
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Kanit', sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding: 50px 0 0 20px;
  padding-bottom: 50px;
  color: white;
}
.image-container img {
  width: 600px;
  height: 600px;
  margin: 30px;
  margin-right: 20px;
}
.liveDemo-btn {
margin-bottom: 20px;
  padding: 20px;
  background-color: #0058fc;
  color: white;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
  font-family: 'Kanit', sans-serif;

}
.liveDemo-btn:hover{
  background-color: white;
  color: black;
  transition: 0.5s;
}
.home-reviews-container {
  display: flex;
}
